@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Tangerine:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: poppins;
}
:root{
    --bgcolor:#59add188;
    --footercolor:#59add1;
    --h4:#0368ff;
}
/*        SCROLL BAR        */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
	background: #888; 
}
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}


/*            HEADER             */
html{
    scroll-behavior: smooth;
}

#logoensak{
    width: 125px;
    height: 55px;
    margin-left: 55px;
    margin-bottom: 10px;
}
.navigation{
    position: fixed;
    height: 100%;
    width: 60px;
    background-color: #0368ff;
    /* box-shadow: 3px 0 0 #ffffff; */
    overflow-x: hidden;
    transition: width 0.5s;
    z-index: 1;
}
.navigation:hover{
    width: 250px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 20px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active{
    background: #fff;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    display: flex;
    text-decoration: none;
    color: white;
    line-height: 60px; 
}
.navigation ul li.active a{
    color: #0368ff;
}
.navigation ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #0368ff;
    border-radius: 50%;
    box-shadow: 15px 15px 0px #fff;
    
}
.navigation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #0368ff;
    border-radius: 50%;
    box-shadow: 15px -15px 0px #fff;
}
.icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.icon ion-icon{
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}
/*        main         */
main{
    padding-top: 10vh;
    margin-bottom: 10vh;

}
.vide{
	margin-bottom: 40vh;
}
.intro{
	/* margin: 30px 0 0 0; */
	text-align: center;
	margin-bottom: 2rem;
}
.intro h2{
	color: var(--h4);
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.op {
	display: flex;
	width: 150vh;
	/* height: 400px; */
	margin: auto;
	justify-content: center;
	padding: 0;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 15px;

}
.op li {
	flex: 0.1;
	align-items: stretch;
	padding: 20px;
	background: var(--h4);
	cursor: pointer;
	transition: all .5s ease;
	position: relative;
	display: block;
	overflow: hidden;	
}

.op li:first-child,li.activ:first-child{
	border-radius: 15px 0 0 15px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.op li:last-child,li.activ:last-child{
	border-radius: 0 15px 15px 0;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.op li:hover {
	background: #0046cf;
}
.op li.activ {
	flex: 4;
	background: #e6e6e641;
	cursor: default;
	/* background: rgba(255, 255, 255, 0.1); */
	border-top: 2px solid rgba(255, 255, 255, 0.5);

}
.op li.activ h2 {
	color: var(--h4);
	margin-bottom: 30px;
	position: static;
	text-indent: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
li.activ .section-content {
	flex: 4;
	opacity: 1;
	transform: scaleX(1);
	display: block;
}
li .section-title {
	flex: 1;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
}
li .section-title h2 {
	margin: 0;
	white-space: nowrap;
	position: absolute;
	top: 12em;
	text-indent: 1em;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
li .section-content {
	flex: 1;
	align-items: center;
	margin: 0;
	padding: 0;
	opacity: 0;
	display: none;
	transition: all .25s .1s ease-out;
}

.op li,.op li h2{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.info{
	display: flex;
	margin-left: 50px;
}

.info div:first-child{
	width: 350px;
	margin-bottom: 20px;
	font-size: 1.1em;
	color: #0046cf;
	font-weight: bold;
}
.info div:last-child{
	width: 50%;
	margin-bottom: 20px;
}

.buttons{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.buttons a{
	text-decoration: none;
}

.buttons a div{
	display: flex;
	font-size: .9em;
	width: 220px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	text-transform: uppercase;

}



.buttons a:first-child div{
	background-color:#fff ;
	color: var(--h4);
	border: 2px solid var(--h4) ;
	margin-right: 20px;
}

.buttons a:last-child div{
	background-color: var(--h4);
	color: #fff;
	border: 2px solid var(--h4) ;
	margin-left: 20px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.buttons a:last-child :hover{
	background-color:#fff ;
	color: var(--h4);
	border: 2px solid var(--h4) ;
	transition: .5s;
	box-shadow: none;
}

.buttons a:first-child :hover{
	background-color: var(--h4);
	color: #fff;
	border: 2px solid var(--h4) ;
	transition: .5s;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}




.arrow{
	width: 30px;
	height: 30px;
	position: absolute;
	margin-top: 100px;
	bottom: 10px;
	text-align: center;

}


li.activ .arrow{
	display: none;
}
.IMAGEENSA{
	display: flex;
	justify-content: center;
	align-items: center;
}





















