@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Tangerine:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: poppins;
}
:root{
    --bgcolor:#59add188;
    --footercolor:#59add1;
    --h4:#00297A;
}
/*        SCROLL BAR        */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
	background: #888; 
}
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}


/*            HEADER             */
body{
    height: 50vh;
    background: linear-gradient(var(--bgcolor),white) no-repeat ;
	width: 100%;
}
header{
    position: fixed;
    top: 0;
	left: 0;
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 100px;
    align-items: center;
    text-align: center;
    
}
nav,nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;


}
#logoensak{
    
	display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile{
	position: relative;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 30px;
	transition: 0.5s;
	box-shadow: 0 0 0 1px black;
	overflow: hidden;
}
.profile.active{
	width: 200px;
	transform: 0.5s 0.5s;
	 
}

.profile .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	z-index: 1000;
	cursor: pointer;
}

.profile.active .input{
	margin:7px 10px 5px 10px ;
	font-size: 0.8em;
	vertical-align: middle;
}

.icon img{
	border-radius: 50%;
}
.banner{
    height: 120vh;
}
/*         BANNER          */
.container{
	width: 60%;
	margin: auto;
	margin-top: 20px;
	background-color: rgba(85, 85, 85, 0.425);
	padding: 30px 40px;
	border-radius: 10px;
}
.container p,.container h3 {
	color: #fff;
	font-weight: 500;
}
.container p{
	font-weight: 300;
	margin-bottom: 10px;

}
.email{
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
}

input{
    background-color: transparent;
    border-radius: 5px;
    border: none;
    padding: 10px 15px; 
    /* pointer-events: none; */
	outline: none;
}

.email i{
    color: var(--iconscolor);
    cursor: pointer;
    text-align: center;
}

.email .inputs{
    display: inline-block;
    margin-bottom: 40px;
}
.row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.inputBox input,
.inputBox textarea{
    position: absolute;
    width: 100%;
    height: 80%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
	resize: none;
}
.ltext{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.inputBox input:focus + .ltext,
.inputBox input:valid + .ltext{
    top: -35px;
    left: -10px;
}
.line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.inputBox input:focus ~ .line,
.inputBox input:valid ~ .line{
    height: 100%;
}
.erreur{
	color: rgb(255, 0, 0);
	margin-top: 10px;
	font-weight: 400;
}
.erreur i{
	margin-right: 5px;
}
/*      image        */
.wrapper{
	border-radius: 5px;
	padding: 20px;
}
.header{
	color: white;
	font-size: 18px;
}
.wrapper .form{	
	display: flex;
	flex-direction: column;
	margin-top: 20PX;
}

.wrapper input{
	background-color: white;
	padding: 0;
	width: 100%;
}
::-webkit-file-upload-button{
	color: #fff;
	font-weight: 600;
	padding: 13px;
	border: none;
	background-color: #2b69b1;
	cursor: pointer;
	box-shadow:1px 1px 5px rgba(0, 0, 0, 0.425);
	margin-right: 20px;	
}
input[type=submit]{
	background-color: #fff;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

/*       footer       */
.footer{
	background: linear-gradient(white,var(--footercolor));
	padding: 70px 0;
	width: 100%;
}
#container{
	max-width: 1170px;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.LVL{
	width: 25%;
	padding: 0 15px;
}
.LVL h4{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom:30px ;
	font-weight: 500;
	position: relative;
}
.LVL h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: var(--h4) ;
	height: 2px;
	box-sizing: border-box;
	width: 50px;

}
.LVL ul li:not(:last-child){
	margin-bottom: 10px;
}
.LVL ul li a {
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	display: block;
	transition: all 0.3s ease;
    color: black;
	font-weight: 400;
}

.LVL ul li a:hover{
	
	padding-left: 10px;
	font-weight: 600;
}
.IMAGEENSA{
	display: flex;
	justify-content: center;
	align-items: center;
}